@import url("sections/header.css");
@import url("sections/result.css");

:root {
	--C1: #461959;
	--C2: #7A316F;
	--C3: #CD6688;
	--C4: #AED8CC;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: var(--C1);
	padding: 5px;
	object-fit: contain;

}

footer {
	color: var(--C3);
	font-size: 0.8em;
	text-align: center;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vw;
	color: #AED8CC;
}

.sect-result {
	color: var(--C4);
}

.star-style {
    /* Définissez les styles CSS que vous souhaitez appliquer à l'image */
    width: 8px;
    height: 8px;
    /* Ajoutez d'autres styles ici */
}