@import url("sections/header.css");

:root {
	--C1: #461959;
	--C2: #7A316F;
	--C3: #CD6688;
	--C4: #AED8CC;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: var(--C1);
	padding: 5px;
	object-fit: contain;

}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 3vw;
	color: var(--C3);
	letter-spacing: 0.1em;
	text-shadow: 3px 3px 2px var(--C2);
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vw;
	color: #AED8CC;

}